*.iml
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# apk files
*.apk
*.ap_

# dex
*.dex

# compiled classes
*.class

# generated
bin/
gen/

# constant
/app/src/main/java/com/mycodingdesk/popularmovies/util
